.darkMode {
  display: flex;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 4px;
}

.darkMode:hover {
  border: 1px solid var(--primary-color);
}

.darkModeLabel {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.darkModeLabel:after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.darkModeInput {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.darkModeInput:checked+.darkModeLabel {
  background: #242424;
}

.darkModeInput:checked+.darkModeLabel:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkModeInput:focus+.darkModeLabel {
  outline: -webkit-focus-ring-color auto 1px;
}

.darkModeInput:focus-within+.darkModeLabel {
  outline: var(--background-color) auto 1px;
}

.darkModeLabel:active:after {
  width: 30px;
}

.darkModeLabel svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}

.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}

.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.darkModeInput:checked+.darkModeLabel svg.sun {
  fill: #7e7e7e;
}

.darkModeInput:checked+.darkModeLabel svg.moon {
  fill: #fff;
}