.darkMode {
  margin-top: -20px;
  margin-left: 10px;
}

.darkModeLabel {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow:
    inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.darkModeLabel:after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.darkModeInput {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkModeInput:checked+.darkModeLabel {
  background: #242424;
}

.darkModeInput:checked+.darkModeLabel:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkModeLabel:active:after {
  width: 30px;
}

.darkModeLabel svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}

.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}

.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}

.darkModeInput:checked+.darkModeLabel svg.sun {
  fill: #7e7e7e;
}

.darkModeInput:checked+.darkModeLabel svg.moon {
  fill: #fff;
}