.projectDetailContainer {
  text-align: center;
}

.projectDetailImage {
  cursor: grab;
}

.projectDetailImage:active {
  cursor: grabbing;
}

.sliderProjectDetail {
  margin: 0 auto;
  padding: 0 4rem;
}

.sliderProjectDetailMobile {
  max-width: 360px;
}

.sliderProjectDetailWeb {
  min-width: 205px;
  max-width: 700px;
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.projectDetailInformationContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 8rem 0;
}

.projectDetailInformationItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--foreground-opacity-color);
  border-radius: 16px;
  padding: 3rem;
}

.projectDetailTechnologies {
  padding-bottom: 0;
}

.technologiesContainerMg {
  margin-bottom: 3rem;
}

.categoryText {
  font-family: var(--nanum-gothic-bold-font);
  margin-bottom: 20px;
}

.categoryContentText {
  color: var(--primary-color);
  font-family: var(--nanum-gothic-bold-font);
}

.technologiesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: 481px) {
  .projectDetailInformationItem:nth-child(7n + 1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .projectDetailInformationItem:nth-child(7n + 2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .projectDetailInformationItem:nth-child(7n + 4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .projectDetailInformationItem:nth-child(7n + 5) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media screen and (max-width: 768px) {
  .sliderProjectDetailMobile {
    max-width: 320px;
  }

  .sliderProjectDetailWeb {
    max-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .sliderProjectDetailMobile {
    max-width: 290px;
  }

  .sliderProjectDetailWeb {
    max-width: 290px;
  }
}

@media screen and (max-width: 375px) {
  .projectDetailInformationContainer {
    margin-bottom: 2rem;
  }
}