.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.titleText {
  margin-top: 0.85rem;
  margin-bottom: 0.85rem;
}

.nameContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mediumSizeText {
  font-size: 1.5rem;
}

.bigSizeText {
  flex-wrap: wrap;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .mediumSizeText {
    font-size: 1.3rem;
  }

  .bigSizeText {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .bigSizeText {
    font-size: 1.5rem;
  }
}