.typingEffectText {
  position: relative;
  color: var(--primary-color);
  min-height: auto;
}

.typingEffectText::before {
  content: "";
  right: -8px;
  top: 54%;
  position: absolute;
  height: 2rem;
  width: 2px;
  background: var(--primary-color);
  transform: translateY(-40%);
  animation: blink 0.7s infinite;
}

.typingEffectText.stop-blinking::before {
  animation: none;
}

.typingEffectTextSafari::before {
  content: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .typingEffectText::before {
    top: 53%;
    height: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .typingEffectTextHome::before {
    top: 58%;
    height: 1.1rem;
  }
}