header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  box-shadow: 0px 4px 4px var(--foreground-opacity-color);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  background-color: var(--background-color);
  z-index: 1;
}

.logo {
  width: 50px;
}

.menuIconContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .menuIconContainer {
    display: flex;
    align-items: center;
  }

  .menuIconContainer:hover {
    border-color: var(--primary-color);
  }

  .menuIconContainer:focus {
    outline: 1px solid var(--primary-color);
  }

  header {
    display: block;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: none;
  }
}