nav {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  display: flex;
  color: var(--foreground-color);
  text-decoration: inherit;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--primary-color);
  font-family: var(--nanum-gothic-bold-font);
}

.currentRoute {
  font-family: var(--nanum-gothic-bold-font);
}

ul {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
  }

  ul {
    flex-direction: column;
  }

  .navbar {
    display: none;
  }
}