.projectsContainer {
  text-align: center;
}

.projectsListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-bottom: 80px;
}

.projectContainer {
  border: 1px solid var(--foreground-opacity-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  height: 550px;
}

.projectContainer:hover {
  background-color: var(--foreground-opacity-color);
  font-family: var(--nanum-gothic-bold-font);
}

.projectMobileImage {
  height: 85%;
}

.projectWebImage {
  width: 90%;
}

.projectTitle {
  margin-bottom: 15px;
}

@media screen and (max-width: 375px) {
  .projectsListContainer {
    margin-bottom: 15px;
  }
}