footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footerIcon {
  transition: color 0.3s ease-in-out;
}

.footerIcon:first-child {
  margin-top: 0px;
}

.footerIcon:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 375px) {
  footer {
    display: block;
    width: 12rem;
    margin: 0 auto;
    bottom: -14rem;
  }

  .footerIcon {
    margin-top: 20px;
  }

  .pipeSeparator {
    display: none;
  }
}