.tooltipContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltipContainer .tooltipText {
  visibility: hidden;
  width: 100px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  justify-content: center;
}

.tooltipContainer .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--primary-color) transparent transparent transparent;
}

.tooltipContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.technologyIcon {
  width: 70px;
}