.aboutMeSection {
  max-width: 992px;
  margin: 0 auto;
}

.bigSizeText {
  font-size: 3rem;
  min-height: 4.5rem;
}

.title {
  margin: 4rem 0;
}

.name {
  margin: 2rem 0;
}

.aboutMeText {
  text-align: left;
}

.personalPhoto {
  width: 250px;
}

.aboutMeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.subtitleText {
  font-size: 2rem;
}

.technologiesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 3rem;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .aboutMeContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .bigSizeText {
    font-size: 2rem;
  }

  .personalPhoto {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .technologiesContainer {
    margin-bottom: 15px;
  }
}